body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("news.jpg");
    background-size: cover;
}
.app-title {
    font-size: 4rem;
    margin: 38px 0 48px;
    color: white;
}
.main {
    text-align: center;
}
.enter-news {
    font-size: 1.7rem;
    color: white;
}
textarea {
    border: 2px solid rgb(100,100,100);
    background-color: rgb(220, 220, 220);
    border-radius: 8px;
    padding: 8px;   
}
/* textarea:focus {
    border-color: green;
} */
#submit-button {
    font-size: 1.2rem;
    padding: 12px 16px;
    border-radius: 8px;
    background-color: rgba(0,0,255,0.8);
    /* font-weight: 600; */
    color: white;
    border: none; 
}
#submit-button:hover {
    background-color: rgba(0,0,255,1);
    color: rgba(255,255,255,0.9)
}
